#
# pcopr.config - pcopr tools config file
#
# https://github.com/pcmoore/copr-pkg_scripts
#

# user information
#  examples:
#   USER_NAME="J. Doe"
#   USER_EMAIL="jdoe@guest.org"
USER_NAME=""
USER_EMAIL=""

# notifications
#  examples:
#   NOTIFY_EMAIL="guest@guest.org"
#   NOTIFY_SCRATCH=0 (NOTE: 0 to disable notification, 1 to enable)
#   NOTIFY_COPR=1 (NOTE: 0 to disable notification, 1 to enable)
NOTIFY_EMAIL=""
NOTIFY_SCRATCH=0
NOTIFY_COPR=0

# copr information
#  you can signup for a COPR account here: https://copr.fedorainfracloud.org
#  examples:
#   COPR_USER="jdoe" (NOTE: this will likely also be your FAS account)
#   COPR_PROJECT="awesome-stuff"
#   COPR_URL="https://copr.fedorainfracloud.org/coprs/$COPR_USER/$COPR_PROJECT"
COPR_USER=""
COPR_PROJECT=""
COPR_URL="https://copr.fedorainfracloud.org/coprs/$COPR_USER/$COPR_PROJECT"

# copr configuration file
#  you can specify a configuration file to pass to copr-cli via the
#  '--config <file>' option with this optional configuration setting
#  examples:
#   COPR_CONFIG="/home/user/project/copr.config"
COPR_CONFIG=""

# package information
#  used by the pconfig_srpm-* scripts to add a suffix to the RPM package
#  examples:
#   PKG_VARIANT="copr"
PKG_VARIANT=""

# local directories
#  local directories used to store the generated patches and SRPMs, if a
#  relative path is used here, it will be relative to the working directory
#  WARNING: all files in the DIR_PATCHES directory will be deleted!
#  examples:
#   DIR_PATCHES="patches"
#   DIR_SRPMS="srpms"
DIR_PATCHES=""
DIR_SRPMS=""

# upstream source repository
#  local repository for the upstream project and patch/fixup directory, if
#  relative paths are used here, they will be relative to the working directory
#  examples:
#   DIR_REPO_SRC="awesome-stuff-upstream"
#   DIR_REPO_SRC_FIXES="$DIR_REPO_SRC-fixes"
DIR_REPO_SRC=""
DIR_REPO_SRC_FIXES="$DIR_REPO_SRC-fixes"

# force source repository garbage collection
#  if "1", perform an explicit garbage collection step in the source
#  repository
#  examples:
#   DIR_REPO_SRC_GC=1
DIR_REPO_SRC_GC=1

# package rpm repository
#  local repository for the project RPM repository and patch/fixup directory,
#  if relative paths are used here, they will be relative to the working
#  directory
#  examples:
#   DIR_REPO_RPM="awesome-stuff-fedora"
#   DIR_REPO_RPM_FIXES="$DIR_REPO_RPM-fixes"
DIR_REPO_RPM=""
DIR_REPO_RPM_FIXES="$DIR_REPO_RPM-fixes"

# local source repository main branch
#  branch to use as the main source branch, defaults to "master" if not
#  specified
#  examples:
#   PATCH_BRANCH_MAIN="master"
PATCH_BRANCH_MAIN=""

# upstream source patch base
#  branch to use as the base for all generated patches
#  examples:
#   PATCH_BRANCH_BASE_SRC="origin/master"
PATCH_BRANCH_BASE_SRC=""

# package rpm patch base
#  branch to use as the base for all generated SRPMs
#  examples:
#   PATCH_BRANCH_BASE_RPM="origin/master"
PATCH_BRANCH_BASE_RPM=""

# branches to check for patch creation
#  space separated list of branches to check when creating patches; branches
#  can be of the typical form "<remote>/<branch>", "stable:<remote>", or
#  "submodule:<directory>:<remote>/<branch>"; in the case of "stable:<remote>"
#  the highest numbered (accoring to 'sort -V') branch following the format of
#  "stable-X[.Y[.Z[.n]]]" will be used.
#  examples:
#   PATCH_BRANCH_LIST="stable:development development/work-in-progress"
PATCH_BRANCH_LIST=""

# commits to exclude
#  space separated list of commit IDs to exclude from patch generation; the
#  commit IDs can be the entire ID or a partial, unique ID.
#  examples:
#   COMMIT_EXCLUDES="7c686af0 3bc7bcf69bbe763359454b2c40efcba22730e181"
COMMIT_EXCLUDES=""

# kate: syntax bash;
