#
# pcopr.config - pcopr tools config file
#

# user information
USER_NAME=""
USER_EMAIL=""

# copr information
COPR_USER=""
COPR_PROJECT=""
COPR_URL=""

# package information
PKG_VARIANT=""

# local directories
DIR_PATCHES=""
DIR_SRPMS=""

# upstream source repository
DIR_REPO_SRC=""
DIR_REPO_SRC_FIXES="$DIR_REPO_SRC-fixes"

# package rpm repository
DIR_REPO_RPM=""
DIR_REPO_RPM_FIXES="$DIR_REPO_RPM-fixes"

# patch base
PATCH_BRANCH_BASE=""

# branches to check for patch creation
PATCH_BRANCH_LIST=""

# kate: syntax bash;
